# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Epic SMART on FHIR Configuration
EPIC_CLIENT_ID=
VITE_EPIC_CLIENT_ID=
EPIC_CLIENT_SECRET=
EPIC_FHIR_BASE_URL=https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/R4

# App Configuration
APP_URL=https://ais-dev-yf23c5kzdf5sms4ut2tw4s-394970103330.us-west2.run.app
